<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DRAC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutMapa.css" asp-append-version="true" />
    
    @*Icono*@
    <link rel="icon" href="~/img/logos/logo_drac_sf.png" type="image/x-icon" />

    @*font-awesome*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

    @*Leaflet*@
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    @*Mapbox*@
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet" />


</head>
<body>
    <div class="wrapper" style="max-height: 100vh;">
        <aside class="" id="sidebar">
            <div class="sidebar-header d-flex pt-3">
                <div class="sidebar-logo">
                    <a class="navbar-brand text-azure-radiance text-wrap p-1" asp-area="" asp-controller="Home" asp-action="Index">Bloom Watch</a>
                </div>
                <div class="div-btn-collapse">
                    <button id="toggle-btn-collapse" type="button" class="text-zumthor"><i class="fa-solid fa-chevron-left"></i></button>
                </div>
                <div class="div-btn-expande mt-3 mx-auto d-none">
                    <button id="toggle-btn-expande" type="button" class="text-zumthor"><i class="fa-solid fa-sliders"></i></button>
                </div>
            </div>
            <div class="sidebar-filters p-2 p-md-3" style="overflow-y: auto;">
                @RenderSection("Filtros", required: false)
            </div>
        </aside>
        <div class="container-fluid main p-0">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @* SweerAlert2 *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @* Para la conversión de info de la DB a WKT que se muestra en el mapa
    <script src="https://unpkg.com/wellknown/wellknown.js"></script>
    *@

    <!-- Turf.js para cálculos geoespaciales -->
    <script src="@("https://unpkg.com/@turf/turf@6/turf.min.js")"></script>

    @* Chart.js para dashboards *@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const btnCollapse = document.querySelector('#toggle-btn-collapse');
        btnCollapse.addEventListener('click', function () {
            document.querySelector("#sidebar").classList.toggle("collapse");
            setTimeout(() => { map.resize(); }, 300);
        });
        const btnExpande = document.querySelector('#toggle-btn-expande');
        btnExpande.addEventListener('click', function () {
            document.querySelector("#sidebar").classList.toggle("collapse");
            setTimeout(() => { map.resize(); }, 300);
        });
    </script>
</body>
</html>
