@model HackathonBloomWatch.Models.Campania

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Campania</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCampania" />
            <div class="form-group">
                <label asp-for="NombreCampania" class="control-label"></label>
                <input asp-for="NombreCampania" class="form-control" />
                <span asp-validation-for="NombreCampania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioCampania" class="control-label"></label>
                <input asp-for="AnioCampania" class="form-control" />
                <span asp-validation-for="AnioCampania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaProceso" class="control-label"></label>
                <input asp-for="FechaProceso" class="form-control" />
                <span asp-validation-for="FechaProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
